@import 'vars';

:root {
    --mouse-x: 0;
    --mouse-y: 0;
}
body.reduced-motion {
    * {
        transition: none !important;
        animation: none !important;
    }
}

body {
    --yellow: #f4ff00;
    --black: #000;
    --white: #fff;
    background-color: var(--black);
    color: var(--yellow);
    font-family: monospace;
    margin: 0;
}
// Text selection
::selection {
    color: #ebebe3;
    background: #222;
}
::-moz-selection {
    color: #ebebe3;
    background: #222;
}

// link/buttons
a {
    color: inherit;
}
.btn {
    transition: color 200ms, background 200ms;
    background-color: transparent;
    border: 1px solid var(--yellow);
    text-transform: uppercase;
    color: var(--yellow);
    border-radius: 2em;
    padding: 0.6em 4em;
    font-weight: 700;
    font-size: 1.5vw;
    cursor: pointer;

    &:hover {
        background-color: var(--yellow);
        color: var(--black);
    }

    @include bp {
        font-size: 4.3vw;
    }
}

// type
h1,
h2,
h3,
.btn {
    font-family: 'Helvetica Neue';
}
h1 {
    text-transform: uppercase;
    line-height: 0.85;
    font-weight: 400;
    font-size: 9vw;
    margin: 0;
}

// Game phases
.game-phase {
    display: none;
}
.phase-01-active .game-phase-01,
.phase-02-active .game-phase-02,
.phase-03-active .game-phase-03 {
    display: grid;
}
.game-phase.has-hf {
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
