@import 'vars';

// Game over - overlay
body:not(.game-over) .game-over-modal {
    transition: none;
    pointer-events: none;
    opacity: 0;
}
.game-over-modal {
    transition: opacity 400ms;
    background-color: rgba(#000, 0.75);
    position: fixed;
    display: flex;
    z-index: 20;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    .centered {
        text-transform: uppercase;
        text-align: center;
        margin: auto;
    }
    .score-row {
        font-family: 'Helvetica Neue';
        margin: 20px auto;
        font-weight: 700;
        font-size: 24px;
    }
    .game-over-copy {
        max-width: 350px;
        margin: 20px auto;
    }
    .emotion {
        text-decoration: underline;
    }
    .button-row {
        margin: 40px auto;

        @include bp {
            display: grid;
            grid-row-gap: 10px;
        }
    }
    .go-repeat {
        text-decoration: none;
    }
}
