// phase header
.header {
    text-align: center;
    padding: 20px;

    .logo-link {
        display: inline-block;
    }
}

// phase footer
.footer {
    text-align: center;
    padding: 20px;

    .academy-link {
        display: inline-block;
    }
}
